apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: selfservice-api-requirements-postgres
  namespace: selfservice
spec:
  data:
    - remoteRef:
        key: "ce-platform-requirements-external-secrets-collector"
        property: DATA_COLLECTOR_POSTGRESURL
      secretKey: conf
  refreshInterval: 1h
  secretStoreRef:
    kind: SecretStore
    name: ci-ssu-production
  target:
    creationPolicy: Owner
    deletionPolicy: Retain
    name: selfservice-api-requirements-postgres
