apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: selfservice-api-requirements-postgres
  namespace: selfservice
spec:
  refreshInterval: 10m
  secretStoreRef:
    name: ci-ssu-production
    kind: SecretStore
  target:
    name: selfservice-api-requirements-postgres
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: ce-platform-requirements-external-secrets-collector
