apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: selfservice-api-requirements-postgres
  namespace: selfservice
spec:
  data:
    - remoteRef:
        key: "ce-platform-requirements-external-secrets-collector"
        property: DATA_COLLECTOR_POSTGRESURL
      secretKey: raw
  refreshInterval: 1h
  secretStoreRef:
    kind: SecretStore
    name: ssu-1password
  target:
    creationPolicy: Owner
    deletionPolicy: Retain
    name: selfservice-api-requirements-postgres
    template:
      type: Opaque
      data:
        DATA_COLLECTOR_POSTGRESURL: >-
          {{ .raw | replace "host=" "Host="
                   | replace " port=" ";Port="
                   | replace " user=" ";Username="
                   | replace " password=" ";Password="
                   | replace " dbname=" ";Database="
                   | replace " sslmode=" ";SSL Mode=" }}
